<body> 
     <app-nav></app-nav>
    <input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
    <label for="drawer-toggle" id="drawer-toggle-label" class="header-light">
      
    </label>
    <nav id="drawer" class="light-nav">
      <div  class="light-header">
      <h1 id="drawer-title">Authentication</h1>
      <div id="nav-box" class="icon-light">
       <fa-icon [icon]="faBars" [styles]="{'color': '#eeedf2'}"></fa-icon>      
      </div>
      </div>
      <div id="side-content">
      <p><b>Authentication</b> is done with a <i>self-issued</i> <b>JSON Web Token (JWT)</b>. You can read more about <b>jwt</b> at the <b href="https://jwt.io/">protocol website</b>, or in the <b href="https://tools.ietf.org/html/rfc7519">draft.</b></p>
      <p>A <b>JWT</b> is an encoded, digitally-signed string of text that allows for secure sharing of <b>JSON</b>-formatted information. It consists of three sub-parts - the <b>Header</b>, the <b>Payload</b> and the <b>Signature</b> - separated by periods(.). So, a typical JWT is structured like: xxxxx.yyyyy.zzzzz Each section is <b>base64 encoded</b> separatly before joining them together with periods to form the full token.</p>
      <h2>Header</h2>
      <p>A <b>JWT</b> header contains information about the encoding protocol and hashing algorithm. Periodic currently only supports <b>SHA-256</b> encoding, so the Header will always be what is displayed. The <b>base64 encoding</b> of that is displayed in the Encoded Token window. Periodic API users can always just include this string as the first part of their authentication token.</p>
      <h2>Payload</h2>
      <p>The payload contains the transmitted information. It is made up of a number of standardized "claims" - which are key-value pairs where the key is the name of the claim and the value is its value. Periodic supports the following claims with the following interpretations:</p>
      <p><b>exp</b> ("expiration time") - OPTIONAL - the UNIX timestamp of the time after which the token is no longer valid. Overrides <b>iat</b> if included. (<b>iat</b> is nevertheless still required)</p>
      <p><b>iat</b> ("issued at") - REQUIRED - the UNIX timestamp of the moment the token was created. Tokens are not valid for more than 1 minute before or after the <b>iat</b> value, so this should in general be the same time as the request is made.</p>
      <p><b>iss</b> ("issuer") - REQUIRED - your <b>Marketplace</b> label (this is usually your domain name without the tld extension - e.g. "periodic" for periodic.is)</p>
      <p><b>jti</b> ("jwt id") - OPTIONAL - an arbitrary, client-generated unique identifier for the claim. Inclusion is optional but strongly encouraged, as it makes tokens more secure against replay attacks. Should be a string of up to 32 characters.</p>
      <p><b>nbf</b> ("not before") - OPTIONAL - the UNIX timestamp after which the token becomes valid. Overrides <b>iat</b> if included. (<b>iat</b> is nevertheless still required)</p>
      <p><b>sub</b> ("subject") - REQUIRED - your Periodic username</p>
      <h2>Signature</h2>
      <p>The final component of the token is the <b>signature</b>, which is simply the <b>SHA-256 HMAC</b> has, using your API key as the secret, of the <b>Header</b> and <b>Payload</b> sections concatenated with a period.</p>
      <h2>Sending a Token</h2>
      <p>Tokens should be sent via an "authorization" header. The value of the header is the string "Bearer" followed by a single space followed by the token.</p>
      </div>
    </nav>
    <div id="page-content">
      <div class="content">
        <app-blackout></app-blackout>
          <div class="column-right">
            <app-calls></app-calls>
            <app-try></app-try>
            <app-response></app-response>
          </div>
      </div>
    </div>
 </body>
